.jcdev_brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jcdev_brand p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 20px;
}

.jcdev_brand div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jcdev_brand-linkedin {
  width: 50px;
  border-radius: 10px;
}

.jcdev_brand-github {
  width: 50px;
  border-radius: 10px;
}

.jcdev_brand-linkedin:hover {
  border-radius: 10px;
  border: double 4px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #95d5b2, #c8b6ff, #fae588);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.jcdev_brand-github:hover {
  border-radius: 10px;
  border: double 4px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #95d5b2, #c8b6ff, #fae588);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media screen and (max-width: 768px) {
  .jcdev_brand div {
    margin: 16px;
    padding: 10px;
  }

  .jcdev_brand-linkedin {
    margin-right: -40px;
  }

  .jcdev_brand-github {
    margin-left: -40px;
  }
}
