.jcdev_about {
  background: #000814;
  padding: 50px;
}

.jcdev_about-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jcdev_about-image img {
  width: 500px;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}

.jcdev_about-container {
  display: flex;
  flex-direction: row;
}

.jcdev_about-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-text);
  font-family: var(--font-family);
}

.jcdev_about-content h2 {
  display: block;
  font-weight: bolder;
  font-size: 28px;
  line-height: 30px;
  margin: 10px;
}

.jcdev_about-content h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 10px;
}

.jcdev_about-content p {
  font-size: 14px;
  line-height: 30px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .jcdev_about-container {
    display: flex;
    flex-direction: column;
  }

  .jcdev_about-content {
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  .jcdev_about-container {
    display: flex;
    flex-direction: column;
  }

  .jcdev_about-content {
    margin-top: 40px;
  }
}
