.project-styling {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 60%;
  display: flex;
  align-items: center;
}

.project-styling img {
  max-height: 350px;
}

.leftBtn {
  height: 64px;
  width: 64px;
  text-align: center;
  background-color: #030303;
  border-radius: 50%;
  cursor: pointer;
}

.rightBtn {
  height: 64px;
  width: 64px;
  text-align: center;
  background-color: #030303;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.rightBtn:hover,
.leftBtn:hover {
  background-color: #755cde;
}

.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow {
  flex-direction: row;
}

.btnsDiv {
  margin-bottom: 88px;
  margin-top: 56px;
}

.colCenterAlign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.myWorkHeading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #030303;
  margin-top: 92px;
  margin-bottom: 56px;
}

.myWork-info {
  margin-left: 3rem;
  margin-top: 7rem;
}

.myWork-info button {
  width: 5rem;
  height: 2rem;
  margin: 1.5rem;
  margin-top: 4rem;
  border: none;
  border-radius: 30px;
  background: var(--color-turqoise);
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 2px;
}

.myWork-info button:hover {
  background: var(--color-dark-turqoise);
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .project-styling {
    flex-direction: column;
    width: fit-content;
    margin: 0;
  }

  .myWork-info {
    margin: 1rem;
  }

  .myWork-info button {
    margin: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .myWorkHeading {
    margin-top: 150px;
  }
  .project-styling {
    width: 270px;
    height: 180px;
  }
}
