.footer-container {
  background: black;
  color: white;
  font-family: var(--font-family);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 10px;
}

.footer-header {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  height: 150px;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 10%;
}

.social svg {
  filter: brightness(0) saturate(100%) invert(99%) sepia(62%) saturate(166%)
    hue-rotate(357deg) brightness(117%) contrast(100%);
  width: 50px;
}

.social svg:hover {
  filter: brightness(0) saturate(100%) invert(86%) sepia(18%) saturate(4544%)
    hue-rotate(318deg) brightness(105%) contrast(93%);
}

.footer-header h1,
.footer-body p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer-body {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
}

.footer-body p {
  width: 50%;
}

.btn-container {
  display: block;
  margin: 20px;
  height: 70px;
}

.footer-btn {
  width: 228px;
  height: 56px;
  margin: 0;
  border: none;
  border-radius: 30px;
  background: var(--color-salmon);
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 2px;
}

.footer-btn:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}
