.footer-container {
  background: black;
  color: white;
  font-family: var(--font-family);
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
  max-width: 1110px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 90px;
}

.footer-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 10%;
}

.social svg {
  filter: brightness(0) saturate(100%) invert(99%) sepia(62%) saturate(166%)
    hue-rotate(357deg) brightness(117%) contrast(100%);
  width: 50px;
}

.social svg:hover {
  filter: brightness(0) saturate(100%) invert(86%) sepia(18%) saturate(4544%)
    hue-rotate(318deg) brightness(105%) contrast(93%);
}

.footer-header h1,
.footer-body p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer-body {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: block;
  margin: 20px;
  height: 70px;
}

.footer-btn {
  width: 228px;
  height: 56px;
  margin: 0;
  border: none;
  border-radius: 30px;
  background: var(--color-salmon);
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 2px;
}

.footer-btn:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}

.popup {
  position: relative;
  background-color: var(--color-salmon);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 22rem;
  margin-top: 2rem;
}

.popup-content {
  padding: 2rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 490px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-header {
    text-align: center;
  }
  .social {
    align-items: center;
    justify-content: center;
  }
  .footer-container {
    width: 343px;
    padding-left: 24px;
    padding-top: 49px;
    padding-right: 24px;
  }
}
