.jcdev_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

.jcdev_navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.jcdev_navbar-links_logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 30px;
  margin: 20px;
}

.jcdev_navbar-links_container {
  display: flex;
  flex-direction: row;
}

.jcdev_navbar-links_container p,
.jcdev_navbar-menu_container {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 0 16px;
  cursor: pointer;
}

.jcdev_navbar-menu {
  margin-left: 16px;
  display: none;
  position: relative;
}

.jcdev_navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 32px;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 16px;
  min-width: 210px;
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .jcdev_navbar-links_container {
    display: none;
  }

  .jcdev_navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .jcdev_navbar {
    padding: 32px 65px;
  }
}

@media screen and (max-width: 550px) {
  .jcdev_navbar {
    padding: 32px;
  }

  .jcdev_navbar-menu_container {
    top: 20px;
  }
}
