.jcdev_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

.jcdev_navbar-links-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-family: var(--font-family);
  width: 100%;
}

.jcdev_navbar-links {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  width: 100%;
}

.jcdev_navbar-links a:hover {
  background: var(--color-black);
  color: var(--color-light-cream);
  padding: 10px;
  border-radius: 8px;
}

.jcdev_navbar-logo h1 {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 30px;
  margin: 20px;
}

.jcdev_navbar-links_container p,
.jcdev_navbar-menu_container {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
}

.jcdev_navbar-menu {
  margin-left: 16px;
  display: none;
  position: relative;
}

.jcdev_navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 32px;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 16px;
  min-width: 210px;
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .jcdev_navbar-links_container {
    display: none;
  }

  .jcdev_navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .jcdev_navbar {
    padding: 32px 65px;
  }
}

@media screen and (max-width: 550px) {
  .jcdev_navbar {
    padding: 32px;
  }

  .jcdev_navbar-menu_container {
    top: 20px;
  }
}
