@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --color-purple: #755cde;
  --color-orange: #f6a560;
  --color-pink: #f39e9e;
  --color-turqoise: #61c4b7;
  --color-maroon: #552049;
  --color-salmon: #eb7565;
  --color-black: #030303;
  --color-gray: #7a746e;
  --color-white: #fff7f0;
  --color-light-cream: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #fff7f0;
}

a {
  color: unset;
  text-decoration: none;
}

/* .gradient-text {
  background: linear-gradient(to bottom right, #61c4b7, #755cde, #f39e9e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
} */

/* @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */
