.jcdev_header {
  display: flex;
}

.jcdev_header-content {
  margin: 5rem;
  width: 540px;
  height: 306px;
}

.jcdev_header-content h1 {
  font-family: var(--font-family);
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 1px;
  margin: 2rem;
}

.jcdev_header-content p {
  color: var(--color-gray);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  margin: 2rem;
}

.jcdev_header-image {
  display: flex;
  padding: 10rem;
  margin-left: 10%;
}

.jcdev_header-image img {
  width: 450px;
  -webkit-animation: morph 3s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  position: relative;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.jcdev_header-button {
  width: 228px;
  height: 56px;
  margin: 2rem;
  border: none;
  border-radius: 30px;
  background: var(--color-salmon);
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 2px;
}

.jcdev_header-button:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}

@media screen and (max-width: 1060px) {
  .jcdev_header {
    flex-direction: column;
  }

  .jcdev_header-content {
    margin: 0 0 48px;
  }
}

@media screen and (max-width: 650px) {
  .jcdev_header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .jcdev_header p {
    font-size: 16px;
    line-height: 60px;
  }
}

@media screen and (max-width: 490px) {
  .jcdev_header h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .jcdev_header p {
    font-size: 14px;
    line-height: 24px;
  }
}
